[display]

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Resolution Configuration
; 'hdmimode' & 'outputmode' must be one of below to configure display resolution within
; supported by your TV or monitor.
; And both of values MUST be same.
;+--------------------+----------------------------------+
;| Symbol             | Resolution                       |
;+--------------------+----------------------------------+
;| "480x320p60hz"     | 480x320 Progressive 60Hz         |
;| "480p60hz"         | 720x480 Progressive 60Hz         |
;| "576p50hz"         | 720x576 Progressive 50Hz         |
;| "720p60hz"         | 1280x720 Progressive 60Hz        |
;| "720p50hz"         | 1280x720 Progressive 50Hz        |
;| "1080p60hz"        | 1920x1080 Progressive 60Hz       |
;| "1080p50hz"        | 1920x1080 Progressive 50Hz       |
;| "1080p30hz"        | 1920x1080 Progressive 30Hz       |
;| "1080p24hz"        | 1920x1080 Progressive 24Hz       |
;| "1080i60hz"        | 1920x1080 Interlaced 60Hz        |
;| "1080i50hz"        | 1920x1080 Interlaced 50Hz        |
;| "2160p60hz"        | 3840x2160 Progressive 60Hz       |
;| "2160p50hz"        | 3840x2160 Progressive 50Hz       |
;| "2160p30hz"        | 3840x2160 Progressive 30Hz       |
;| "2160p25hz"        | 3840x2160 Progressive 25Hz       |
;| "2160p24hz"        | 3840x2160 Progressive 24Hz       |
;| "smpte24hz"        | 3840x2160 Progressive 24Hz SMPTE |
;| "640x480p60hz"     | 640x480 Progressive 60Hz         |
;| "800x480p60hz"     | 800x480 Progressive 60Hz         |
;| "800x600p60hz"     | 800x600 Progressive 60Hz         |
;| "1024x600p60hz"    | 1024x600 Progressive 60Hz        |
;| "1024x768p60hz"    | 1024x768 Progressive 60Hz        |
;| "1280x800p60hz"    | 1280x800 Progressive 60Hz        |
;| "1280x1024p60hz"   | 1280x1024 Progressive 60Hz       |
;| "1360x768p60hz"    | 1360x768 Progressive 60Hz        |
;| "1440x900p60hz"    | 1440x900 Progressive 60Hz        |
;| "1600x900p60hz"    | 1600x900 Progressive 60Hz        |
;| "1600x1200p60hz"   | 1600x1200 Progressive 60Hz       |
;| "1680x1050p60hz"   | 1680x1050 Progressive 60Hz       |
;| "1920x1200p60hz"   | 1920x1200 Progressive 60Hz       |
;| "2560x1080p60hz"   | 2560x1080 Progressive 60Hz       |
;+--------------------+----------------------------------+
hdmimode="1080p60hz"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Custom modeline
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; hdmimode="custombuilt"
; 2560x1440p60hz sample
modeline="2560,1440,241500,88800,60,2560,2608,2640,2720,1440,1442,1447,1481,1,1,1"
customwidth="2560"
customheight="1440"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; voutmode
; hdmi or dvi
voutmode="hdmi"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Display Auto Detection
; "false" or "true"
display_autodetect="true"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Auto Framerate
autoFramerate="false"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Enable backlight_pwm
;+----------+----------------+
;|  Value   | target         |
;+----------+----------------+
;| "no"     |  disable       |
;| "yes"    |  ODROID-VU5/7  |
;| "invert" |  ODROID-VU8    |
;+----------+----------------+
backlight_pwm="yes"


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; weather screen adjust by zoom or align
adjustScreenWay="alignment"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Display Zoom Rate
zoom_rate="100"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Screen alignment
screenAlignment="0 0 0 0"

colorattribute="444,8bit"

osd_reverse="0"
video_reverse="0"
suspend_hdmiphy="1"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CVBS encoder : 480CVBS or 576CVBS
;+------------+--------------+
;|  Value     |  target      |
;+------------+--------------+
;|  "480cvbs" |  NTSC, 480i  |
;|  "576cvbs" |  PAL, 576i   |
;+------------+--------------+
cvbsmode="576cvbs"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; HPD enable/disable option
disablehpd="false"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Disable VU7
disable_vu7="false"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; invert touch screen x,y
touch_invert_x="false"
touch_invert_y="false"

test_mt_vid="0000"
test_mt_pid="0000"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Prevent screen sleep
prevent_sleep="0"

[cpu]

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Max cpu frequency sets
;+----------+-----------+------------+
;|  Value   | Frequency |   Cpu      |
;+----------+-----------+------------+
;| "1992"   | 1.992GHz  | big Little |
;| "1932"   | 1.932GHz  | big        |
;| "1920"   | 1.920GHz  | big        |
;| "1908"   | 1.908GHz  | big        |
;| "1896"   | 1.896GHz  |     Little |
;| "1800"   | 1.800GHz  | big        |
;| "1704"   | 1.704GHz  | big Little |
;+----------+-----------+------------+
max_freq_big="1800"
max_freq_little="1896"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; big, Little governor
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; "interactive"
; "performance"
; "schedutil"
governor_big="performance"
governor_little="performance"

[etc]

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Wake on Lan
enable_wol="0"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Gpio power key
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; GPIOX.3 (Pin 11) of
; 2x20 pins connector
;gpiopower="479"

heartbeat="1"
sg_tablesize="2"

overlays="odroidn2-opp i2c0 i2c1 spi0 uarta"
overlays_resize=16384
