[display]

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Resolution Configuration
; 'hdmimode' & 'outputmode' must be one of below to configure display resolution within
; supported by your TV or monitor.
; And both of values MUST be same.
;+--------------------+----------------------------------+
;| Symbol             | Resolution                       |
;+--------------------+----------------------------------+
;| "480x320p60hz"     | 480x320 Progressive 60Hz         |
;| "480p60hz"         | 720x480 Progressive 60Hz         |
;| "576p50hz"         | 720x576 Progressive 50Hz         |
;| "720p60hz"         | 1280x720 Progressive 60Hz        |
;| "720p50hz"         | 1280x720 Progressive 50Hz        |
;| "1080p60hz"        | 1920x1080 Progressive 60Hz       |
;| "1080p50hz"        | 1920x1080 Progressive 50Hz       |
;| "1080p30hz"        | 1920x1080 Progressive 30Hz       |
;| "1080p24hz"        | 1920x1080 Progressive 24Hz       |
;| "1080i60hz"        | 1920x1080 Interlaced 60Hz        |
;| "1080i50hz"        | 1920x1080 Interlaced 50Hz        |
;| "2160p60hz"        | 3840x2160 Progressive 60Hz       |
;| "2160p50hz"        | 3840x2160 Progressive 50Hz       |
;| "2160p30hz"        | 3840x2160 Progressive 30Hz       |
;| "2160p25hz"        | 3840x2160 Progressive 25Hz       |
;| "2160p24hz"        | 3840x2160 Progressive 24Hz       |
;| "smpte24hz"        | 3840x2160 Progressive 24Hz SMPTE |
;| "640x480p60hz"     | 640x480 Progressive 60Hz         |
;| "800x480p60hz"     | 800x480 Progressive 60Hz         |
;| "800x600p60hz"     | 800x600 Progressive 60Hz         |
;| "1024x600p60hz"    | 1024x600 Progressive 60Hz        |
;| "1024x768p60hz"    | 1024x768 Progressive 60Hz        |
;| "1280x800p60hz"    | 1280x800 Progressive 60Hz        |
;| "1280x1024p60hz"   | 1280x1024 Progressive 60Hz       |
;| "1360x768p60hz"    | 1360x768 Progressive 60Hz        |
;| "1440x900p60hz"    | 1440x900 Progressive 60Hz        |
;| "1600x900p60hz"    | 1600x900 Progressive 60Hz        |
;| "1600x1200p60hz"   | 1600x1200 Progressive 60Hz       |
;| "1680x1050p60hz"   | 1680x1050 Progressive 60Hz       |
;| "1920x1200p60hz"   | 1920x1200 Progressive 60Hz       |
;| "2560x1080p60hz"   | 2560x1080 Progressive 60Hz       |
;| "2560x1440p60hz"   | 2560x1440 Progressive 60Hz       |
;| "2560x1600p60hz"   | 2560x1600 Progressive 60Hz       |
;| "3440x1440p60hz"   | 3440x1440 Progressive 60Hz       |
;+--------------------+----------------------------------+
hdmimode="1080p60hz"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Custom modeline
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; hdmimode="custombuilt"
; 2560x1440p60hz sample
modeline="2560,1440,241500,88800,60,2560,2608,2640,2720,1440,1442,1447,1481,1,1,1"
customwidth="2560"
customheight="1440"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; voutmode
; hdmi or dvi
voutmode="hdmi"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Display Auto Detection
; "false" or "true"
display_autodetect="true"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Auto Framerate
autoFramerate="false"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; weather screen adjust by zoom or align
adjustScreenWay="alignment"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Display Zoom Rate
zoom_rate="100"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Screen alignment
screenAlignment="0 0 0 0"

colorattribute="444,8bit"

osd_reverse="0"
video_reverse="0"
suspend_hdmiphy="1"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CVBS encoder : 480CVBS or 576CVBS
;+------------+--------------+
;|  Value     |  target      |
;+------------+--------------+
;|  "480cvbs" |  NTSC, 480i  |
;|  "576cvbs" |  PAL, 576i   |
;+------------+--------------+
cvbsmode="576cvbs"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; HPD enable/disable option
disablehpd="false"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; skip CEC check conflict option
ignorecec="false"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Disable VU7
disable_vu7="false"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; invert touch screen x,y
touch_invert_x="false"
touch_invert_y="false"

test_mt_vid="0000"
test_mt_pid="0000"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Prevent screen sleep
prevent_sleep="1"

[cpu]

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Max cpu frequency sets
;+----------+-----------+-----------------+
;|          |           |       CPU       |
;|  Value   | Frequency |  big   | LITTLE |
;+----------+-----------+--------+--------+
;| "2400"   | 2.400GHz  | N2+    |        |
;| "2304"   | 2.304GHz  | N2+    |        |
;| "2208"   | 2.208GHz  | N2+    |        |
;| "2100"   | 2.100GHz  | N2+    |        |
;| "2016"   | 2.016GHz  | N2+    | N2+    |
;| "1992"   | 1.992GHz  | N2     | N2     |
;| "1932"   | 1.932GHz  | N2     |        |
;| "1920"   | 1.920GHz  | N2     |        |
;| "1908"   | 1.908GHz  | N2/N2+ | N2+    |
;| "1896"   | 1.896GHz  |        | N2     |
;| "1800"   | 1.800GHz  | N2/N2+ | N2+    |
;| "1704"   | 1.704GHz  | N2/N2+ | N2/N2+ |
;+----------+-----------+--------+--------+

max_freq_big="1800"
max_freq_little="1896"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; big, Little governor
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; "interactive"
; "performance"
; "schedutil"
governor_big="performance"
governor_little="performance"

[etc]

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Wake on Lan
enable_wol="0"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Gpio power key
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; GPIOX.3 (Pin 11) of
; 2x20 pins connector
;gpiopower="479"

heartbeat="1"
sg_tablesize="2"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Enable backlight_pwm
; example)
; overlays="i2c0 i2c1 spi0 uart0 pwm_cd pwm_ef pwm_backlight"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Enable ODROID-VU7C
; example)
; hdmimode="1024x600p60hz"
; display_autodetect="false"
; overlays="i2c0 i2c1 spi0 pwm_cd pwm_ef display_vu7c"

overlays="i2c0 i2c1 spi0 uart0 pwm_cd pwm_ef"
overlays_resize=16384
user_overlays=""
